@using EntityLayer.Concrete
@model List<Experience>

<div class="card card-secondary" id="experiences">
	<div class="card-header">
		<h3 class="card-title">Deneyimler</h3>
	</div>
	<div class="card-body">
		<div class="tab-content">
			<div class="timeline timeline-inverse">
				@foreach (var item in Model)
				{
					<div>
						<div class="timeline-item">
							<h3 class="timeline-header"><b class="text-primary">@item.Name  </b> / @item.StartDate - @item.FinishDate
								<br /><b class="text-success">@item.Position</b>
							</h3>
							<div class="timeline-body">
								@item.Description
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>