@using EntityLayer.Concrete
@model List<Testimonial>

<div class="work-experience-section px-3 px-lg-4" id="testimonial">
    <h2 class="h3 mb-4">Referanslar</h2>
    <div class="timeline">
        @foreach (var item in Model)
        {
            <div class="timeline-card timeline-card-primary card shadow-sm">
                <div class="card-body">
                    <div class="h5 mb-1">@item.Name @item.SurName <span class="text-muted h6">@item.Description</span></div>
                @*     <div class="text-muted text-small mb-2">@item.Mail</div> *@
                    <div>@item.Mail</div>
                </div>
            </div>
        }
    </div>
</div>