@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
	<div class="container">
		<div class="cover shadow-lg bg-white" style="width:1200px">
			<div class="education-section px-3 px-lg-4 pb-4">
				<h2 class="h3 mb-4">Deneyimler</h2>
				<div class="timeline">
					@foreach (var item in Model)
					{
						<div class="timeline-card timeline-card-success card shadow-sm shadow-lg">
							<div class="card-body ">
								<div class="h5 mb-1">@item.Name <span class="text-muted h6">@item.Position</span></div>
								<div class="text-muted text-small mb-2">@item.StartDate - @item.FinishDate</div>
								<div>@item.Description</div>
								<a href="/Experience/EditExperience/@item.ExperienceID/" class="btn btn-outline-primary"><b>Güncelle</b></a>
								<a href="/Experience/DeleteExperience/@item.ExperienceID/" class="btn btn-outline-danger" onclick="return confirm('Kalıcı Olarak Silmek İstediğinize Emin misiniz?');"><b>Sil</b></a>
							</div>
						</div>
					}
				</div>
				<a href="/Experience/AddExperience/" class="btn btn-success"><b>Deneyim Ekle</b></a>
			</div>
		</div>
	</div>
</div>
<script src="~/right-resume_free_1-2-0/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="~/right-resume_free_1-2-0/scripts/aos.js?ver=1.2.0"></script>
<script src="~/right-resume_free_1-2-0/scripts/main.js?ver=1.2.0"></script>