@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "EditTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
	<div class="card">
		<form class="form-group" asp-action="EditTestimonial" asp-controller="Testimonial" method="post">
			<div class="card-header border-0">
				<h4 class="mb-0">Referansı Güncelle</h4>
			</div>
			<div class="card-body">
				@Html.HiddenFor(x => x.TestimonialID)				
				<div class="form-group">
					<label>Referans Adı</label>
					@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
				</div>
				<div class="form-group">
					<label>Soyadı </label>
					@Html.TextBoxFor(x => x.SurName, new { @class = "form-control" })
				</div>
				<div class="form-group">
					<label>E-Posta Adresi</label>
					@Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
				</div>
				<div class="form-group">
					<label>Açıklama</label>
					@Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
				</div>
				<button type="submit" class="btn btn-primary mr-2">Kaydet</button>
				<button type="button" class="btn btn-light" onclick="history.back()">Geri</button>
			</div>
		</form>
	</div>
</div>